<app-header></app-header>
<div class="main user">
  <!-- user left -->
  <mat-card class="left-user">
    <!-- left top user -->
    <div class="info-user">
      <!-- chứa ảnh nằm bên trái thẻ div -->
      <div class="img-user">
        <advanced-image style="border-radius: 50%;" [cldImg]="img"></advanced-image>
      </div>
      <div class="name-edit-container">
        <h3 class="user-name">{{ getCustomer?.fullName }}</h3>
        <div class="edit-button-1" (click)="selectImage()">
          <p>Sửa ảnh</p>
          <mat-icon>edit</mat-icon>
          <input type="file" id="file-input" (change)="onSelect($event)" accept="image/*" style="display: none;">
        </div>
      </div>
    </div>

    <!-- left bottom user -->
    <div class="menu-user ">
      <mat-list role="list">
        <mat-list-item role="listitem" class="menu-list" (click)="selectMenuItem('hoSo')"
          [class.selected]="selectedMenuItem === 'hoSo'" (click)="showPage('hoSo')">
          <mat-icon class="menu-icon">account_circle</mat-icon> Hồ Sơ
        </mat-list-item>
        <mat-list-item role="listitem" class="menu-list" (click)="selectMenuItem('diaChi')"
          [class.selected]="selectedMenuItem === 'diaChi'" (click)="showPage('diaChi')">
          <mat-icon class="menu-icon">location_on</mat-icon> Địa chỉ
        </mat-list-item>
        <mat-list-item role="listitem" class="menu-list" (click)="selectMenuItem('doiMatKhau')"
          [class.selected]="selectedMenuItem === 'doiMatKhau'" (click)="showPage('doiMatKhau')">
          <mat-icon class="menu-icon">vpn_key</mat-icon> Đổi mật khẩu
        </mat-list-item>
        <mat-list-item role="listitem" class="menu-list" (click)="selectMenuItem('donHang')"
          [class.selected]="selectedMenuItem === 'donHang'" (click)="showPage('donHang')">
          <mat-icon class="menu-icon">shopping_cart</mat-icon> Đơn hàng
        </mat-list-item>
        <mat-list-item (click)="selectMenuItem('dangxuat')" [class.selected]="selectedMenuItem === 'dangxuat'"
          role="listitem" class="menu-list">
          <mat-icon> exit_to_app </mat-icon> Đăng xuất
        </mat-list-item>
        <!-- form xác nhận -->
        <ng-template #confirmDialog>
          <h1 mat-dialog-title>{{ isNameConfirm}}</h1>
          <div mat-dialog-content>
            <p>{{isMessage}}</p>
          </div>
          <div mat-dialog-actions>
            <button mat-button (click)="onCancel()">Hủy</button>
            <button mat-button (click)="onConfirm()">Xác Nhận</button>
          </div>
        </ng-template>
      </mat-list>
    </div>
  </mat-card>
  <!-- user right -->
  <div class="right-user" *ngIf="getCustomer">
    <!-- Trang Ho So -->
    <div class="right-user-1" *ngIf="currentPage === 'hoSo'">
      <mat-card class="highlighted-title-card">
        <mat-card-content style="font-size: 18px; color: #FFF;">HỒ SƠ CỦA TÔI</mat-card-content>
      </mat-card>
      <div class="content-profile">
        <p class="style-text-dn">Tên người dùng</p>
        <mat-form-field class="full-width-input" appearance="fill">
          <input matInput class="username" placeholder="Tên người dùng" [(ngModel)]="getCustomer.fullName ">
        </mat-form-field>

        <p class="style-text">Số điện thoại nhận hàng</p>
        <mat-form-field class="full-width-input" appearance="fill">
          <input matInput placeholder="Số điện thoại" required [(ngModel)]="getCustomer.phone">
        </mat-form-field>

        <p class="style-text">Email</p>
        <mat-form-field class="full-width-input" appearance="fill">
          <input matInput placeholder="Email" [(ngModel)]="getCustomer.email">
        </mat-form-field>

        <p class="style-text">Giới tính</p>
        <mat-radio-group class="checkbox radio-spacing" [(ngModel)]="gender">
          <mat-radio-button value="Nam">Nam</mat-radio-button>
          <mat-radio-button value="Nữ">Nữ</mat-radio-button>
          <mat-radio-button value="Khác">Khác</mat-radio-button>
        </mat-radio-group>
        <p class="style-text-nn">Ngày sinh</p>

        <mat-form-field class="full-width-input">
          <input matInput placeholder="MM/DD/YYYY" [(ngModel)]="getCustomer.birthday" [matDatepicker]="datepicker">
          <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
          <mat-datepicker #datepicker>
            <mat-datepicker-actions>
              <button mat-button matDatepickerCancel>Hủy</button>
              <button mat-raised-button color="primary" matDatepickerApply
                (dateChange)="onDateChange($event)">OK</button>
            </mat-datepicker-actions>
          </mat-datepicker>
        </mat-form-field>
        <!-- Nút Lưu -->
        <button class="save-button" (click)="updateprofile()">Lưu</button>
      </div>
    </div>

    <!-- Trang dia chi -->
    <div class="right-user-1" *ngIf="currentPage === 'diaChi'">
      <mat-card class="highlighted-title-card">
        <mat-card-content style="font-size: 18px; color: #FFF;">THÔNG TIN NHẬN HÀNG</mat-card-content>
      </mat-card>
      <div class="content-address">
        <p class="style-text-dn">Tỉnh/Thành phố</p>
        <mat-form-field class="full-width-input" appearance="fill">
          <input matInput placeholder="Nhập tỉnh/Thành phố" required [(ngModel)]="blameaddress.t"
            (input)="updateAddress()">
        </mat-form-field>
        <p class="style-text">Quận/Huyện</p>
        <mat-form-field class="full-width-input" appearance="fill">
          <input matInput placeholder="Nhập Quận/Huyện" required [(ngModel)]="blameaddress.h" (input)="updateAddress()">
        </mat-form-field>

        <p class="style-text">Số đường - Phường/Xã</p>
        <mat-form-field class="full-width-input" appearance="fill">
          <input matInput placeholder="Nhập Phường/Xã'" required [(ngModel)]="blameaddress.x" (input)="updateAddress()">
        </mat-form-field>

        <p class="style-text">Địa chỉ</p>
        <mat-form-field class="full-width-input">
          <input type="text" matInput [disabled]="true" [placeholder]="detailedAddress ? '':this.getCustomer.address "
            [(ngModel)]="apt" (input)="updateAddress()">
          <span matSuffix style="width: 100px;">{{ detailedAddress }} &nbsp;</span>
        </mat-form-field>
        <button class="save-button" (click)="Address()">Lưu</button>
      </div>
    </div>

    <!-- Trang doi mat khau -->
    <div class="right-user-1" *ngIf="currentPage === 'doiMatKhau'">
      <mat-card class="highlighted-title-card">
        <mat-card-content style="font-size: 18px; color: #FFF;">ĐỔI MẬT KHẨU</mat-card-content>
      </mat-card>
      <div class="content-ChangePassword">
        <p class="style-text-dn">Mật khẩu hiện tại</p>
        <mat-form-field class="full-width-input" appearance="fill">
          <input matInput [type]="passwordFieldType" [(ngModel)]="Dataupdatepassword.passwordODL"
            placeholder="Nhập nhập mật khẩu hiện tại..." #passwordInput>
          <button matSuffix (click)="togglePasswordVisibility()" [attr.aria-label]="'Toggle password visibility'"
            [attr.aria-pressed]="passwordFieldType === 'text'">
            <mat-icon>{{ passwordFieldType === 'password' ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>

        <p class="style-text">Mật khẩu mới</p>
        <mat-form-field class="full-width-input" appearance="fill">
          <input matInput [type]="passwordFieldType" #passwordInput [(ngModel)]="Dataupdatepassword.password"
            placeholder="Nhập mật khẩu mới...">
          <button matSuffix (click)="togglePasswordVisibility()" [attr.aria-label]="'Toggle password visibility'"
            [attr.aria-pressed]="passwordFieldType === 'text'">
            <mat-icon>{{ passwordFieldType === 'password' ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>

        <p class="style-text">Nhập lại mật khẩu</p>
        <mat-form-field class="full-width-input" appearance="fill">
          <input matInput [(ngModel)]="Dataupdatepassword.passwordconfirm" type="password"
            placeholder="Nhập lại mật khẩu mới...">
          <button matSuffix (click)="togglePasswordVisibility()" [attr.aria-label]="'Toggle password visibility'"
            [attr.aria-pressed]="passwordFieldType === 'text'">
            <mat-icon>{{ passwordFieldType === 'password' ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>

        <!-- Nút Lưu -->
        <button class="save-button" (click)="Updatepass()">Lưu</button>
      </div>
    </div>

    <!-- Trang don hang -->
    <div class="right-user-2" *ngIf="currentPage === 'donHang'">
      <mat-card>
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
          <li [ngbNavItem]="1">
            <button ngbNavLink class="highlighted-title-order" (click)="StatusBill('Chờ Xác Nhận')">CHỜ XÁC
              NHẬN</button>
            <ng-template ngbNavContent style="background-color:#E9EAEE;">
              <div class="content-order" *ngFor="let bill of bills">
                <!-- <mat-icon *ngIf="bill.status === 'Chờ Xác Nhận'">autorenew</mat-icon>
                <mat-icon *ngIf="bill.status === 'Đã Xác Nhận'">check_circle</mat-icon> -->
                <table class="content-order-top">
                  <tr>
                    <th></th>
                    <th>Sản phẩm</th>
                    <th>Số lượng </th>
                    <th>Thành tiền</th>
                  </tr>
                  <tr *ngFor="let detail of bill.orderDetails">
                    <td>
                      <img [src]="detail.bookImage" alt="Product Image">
                    </td>
                    <td>{{ detail.nameBook}}</td>
                    <td>{{ detail.quantity }}</td>
                    <td>{{ (detail.unitPrice * detail.quantity) | number:'1.0-0'}}<sup>đ</sup></td>
                  </tr>
                </table>
                <hr>
                <table class="content-order-bottom">
                  <tr>
                    <td>Phí vận chuyển: </td>
                    <td>20,000 <sup>đ</sup></td>
                  </tr>
                  <tr>
                    <td>Tổng tiền: </td>
                    <td class="total-amount"><span>{{ bill.totalAmount | number:'1.0-0' }}<sup>đ</sup></span></td>
                  </tr>
                  <tr class="status-payment" *ngIf="bill.paymentStatus === 'Chưa Thanh Toán'">
                    <td><span>Thanh toán khi nhận hàng</span></td>
                    <td rowspan="2"><button mat-raised-button class="save-button" (click)="cancelOrder(bill.id)">HỦY
                        ĐƠN</button></td>
                  </tr>
                  <tr class="status-payment" *ngIf="bill.paymentStatus !== 'Chưa Thanh Toán'">
                    <td>Phương thức thanh toán: <span>{{bill.paymentStatus}}</span></td>
                    <td rowspan="2"><button mat-raised-button class="save-button" (click)="cancelOrder(bill.id)">HỦY
                        ĐƠN</button></td>
                  </tr>
                  <tr class="status-payment">
                    <td>Ngày đặt hàng: {{ bill.billDate | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
                  </tr>
                  <tr *ngIf="bill.code_pay" class="status-payment">
                    <td>Mã giao dịch: {{bill.code_pay}}</td>
                  </tr>
                  <tr class="status-payment">
                    <td>Mã đơn hàng: {{bill.id}}</td>
                  </tr>
                </table>
              </div>
            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <button ngbNavLink class="highlighted-title-order" (click)="StatusBill('Đang giao')">ĐƠN ĐANG GIAO</button>
            <ng-template ngbNavContent style="background-color:#E9EAEE;">
              <div class="content-order" *ngFor="let bill of bills">
                <table class="content-order-top">
                  <tr>
                    <th></th>
                    <th>Sản phẩm</th>
                    <th>Số lượng </th>
                    <th>Thành tiền</th>
                  </tr>
                  <tr *ngFor="let detail of bill.orderDetails">
                    <td>
                      <img [src]="detail.bookImage" alt="Product Image">
                    </td>
                    <td>{{detail.nameBook}}</td>
                    <td>{{ detail.quantity }}</td>
                    <td>{{ (detail.unitPrice * detail.quantity) | number:'1.0-0'}}<sup>đ</sup></td>
                  </tr>
                </table>
                <hr>
                <table class="content-order-bottom">
                  <tr>
                    <td>Phí vận chuyển: </td>
                    <td>20,000 <sup>đ</sup></td>
                  </tr>
                  <tr>
                    <td>Tổng tiền: </td>
                    <td class="total-amount"><span>{{ bill.totalAmount | number:'1.0-0' }}<sup>đ</sup></span></td>
                  </tr>

                  <tr class="status-payment" *ngIf="bill.paymentStatus === 'Chưa Thanh Toán'">
                    <td><span>Thanh toán khi nhận hàng</span></td>
                  </tr>
                  <tr class="status-payment" *ngIf="bill.paymentStatus !== 'Chưa Thanh Toán'">
                    <td>Phương thức thanh toán: <span>{{bill.paymentStatus}}</span></td>
                  </tr>
                  <tr class="status-payment">
                    <td>Ngày đặt hàng: {{ bill.billDate | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
                  </tr>
                  <tr *ngIf="bill.code_pay" class="status-payment">
                    <td>Mã giao dịch: {{bill.code_pay}}</td>
                  </tr>
                  <tr class="status-payment">
                    <td>Mã đơn hàng: {{bill.id}}</td>
                  </tr>
                </table>
              </div>
            </ng-template>
          </li>
          <li [ngbNavItem]="3">
            <button ngbNavLink class="highlighted-title-order" (click)="StatusBill('Đã giao')">ĐƠN ĐÃ GIAO</button>
            <ng-template ngbNavContent style="background-color:#E9EAEE;">
              <div class="content-order" *ngFor="let bill of bills">
                <table class="content-order-top">
                  <tr>
                    <th></th>
                    <th>Sản phẩm</th>
                    <th>Số lượng </th>
                    <th>Thành tiền</th>
                  </tr>
                  <tr *ngFor="let detail of bill.orderDetails">
                    <td>
                      <img [src]="detail.bookImage" alt="Product Image">
                    </td>
                    <td>{{ detail.quantity }}</td>
                    <td>{{ (detail.unitPrice * detail.quantity) | number:'1.0-0'}}<sup>đ</sup></td>
                  </tr>
                </table>
                <hr>
                <table class="content-order-bottom">
                  <tr>
                    <td>Phí vận chuyển: </td>
                    <td>20,000 <sup>đ</sup></td>
                  </tr>
                  <tr>
                    <td>Tổng tiền: </td>
                    <td class="total-amount"><span>{{ bill.totalAmount | number:'1.0-0' }}<sup>đ</sup></span></td>
                  </tr>
                  <tr class="status-payment" *ngIf="bill.paymentStatus === 'Chưa Thanh Toán'">
                    <td><span>Thanh toán khi nhận hàng</span></td>
                    <td rowspan="2">
                      <button *ngIf="!checkIdbook(bill.orderDetails)" mat-raised-button class="save-button"
                        (click)="open(content)">ĐÁNH GIÁ</button>
                      <button *ngIf="checkIdbook(bill.orderDetails)" mat-raised-button>ĐÃ ĐÁNH GIÁ</button>
                    </td>
                  </tr>
                  <tr class="status-payment" *ngIf="bill.paymentStatus !== 'Chưa Thanh Toán'">
                    <td>Phương thức thanh toán: <span>{{bill.paymentStatus}}</span></td>
                    <td rowspan="2">
                      <button *ngIf="!checkIdbook(bill.orderDetails)" mat-raised-button class="save-button"
                        (click)="open(content)">ĐÁNH GIÁ</button>
                      <button *ngIf="checkIdbook(bill.orderDetails)" mat-raised-button>ĐÃ ĐÁNH GIÁ</button>
                  </tr>

                  <tr class="status-payment">
                    <td>Ngày đặt hàng: {{ bill.billDate | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
                  </tr>
                  <tr *ngIf="bill.code_pay" class="status-payment">
                    <td>Mã giao dịch: {{bill.code_pay}}</td>
                  </tr>
                  <tr class="status-payment">
                    <td>Mã đơn hàng: {{bill.id}}</td>
                  </tr>
                </table>
                <ng-template #content let-c="close" let-d="dismiss">
                  <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title">Đánh giá sản phẩm</h4>
                    <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
                  </div>
                  <div class="modal-body">
                    <app-rating-decimal [rating]="commemtrating.rating || 0"
                      (ratingChange)="onRatingChange($event)"></app-rating-decimal>
                    <br>
                    <label for="typeahead-basic">Viết nhận xét của bạn về sản phẩm</label>
                    <textarea type="text" class="form-control" [(ngModel)]="commemtrating.comment"></textarea>
                  </div>

                  <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark"
                      (click)="portratingcomment(bill);c('Save click')">Gửi nhận xét</button>
                  </div>
                </ng-template>
              </div>
            </ng-template>
          </li>
          <li [ngbNavItem]="4">
            <button ngbNavLink class="highlighted-title-order" (click)="StatusBill('Đã hủy')">ĐƠN ĐÃ HỦY</button>
            <ng-template ngbNavContent style="background-color:#E9EAEE;">
              <div class="content-order" *ngFor="let bill of bills">
                <table class="content-order-top">
                  <tr>
                    <th></th>
                    <th>Sản phẩm</th>
                    <th>Số lượng </th>
                    <th>Thành tiền</th>
                  </tr>
                  <tr *ngFor="let detail of bill.orderDetails">
                    <td>
                      <img [src]="detail.bookImage" alt="Product Image">
                    </td>
                    <td>{{ detail.quantity }}</td>
                    <td>{{ (detail.unitPrice * detail.quantity) | number:'1.0-0'}}<sup>đ</sup></td>
                  </tr>
                </table>
                <hr>
                <table class="content-order-bottom">
                  <tr>
                    <td>Phí vận chuyển: </td>
                    <td>20,000 <sup>đ</sup></td>
                  </tr>
                  <tr>
                    <td>Tổng tiền: </td>
                    <td class="total-amount"><span>{{ bill.totalAmount | number:'1.0-0' }}<sup>đ</sup></span></td>
                  </tr>

                  <tr class="status-payment" *ngIf="bill.paymentStatus === 'Chưa Thanh Toán'">
                    <td><span>Thanh toán khi nhận hàng</span></td>
                    <td rowspan="2"><button mat-raised-button class="save-button" (click)="reorder(bill)">MUA
                        LẠI</button></td>
                  </tr>
                  <tr class="status-payment" *ngIf="bill.paymentStatus !== 'Chưa Thanh Toán'">
                    <td>Phương thức thanh toán: <span>{{bill.paymentStatus}}</span></td>
                    <td rowspan="2"><button mat-raised-button class="save-button" (click)="reorder(bill)">MUA
                        LẠI</button></td>
                  </tr>
                  <tr class="status-payment">
                    <td>Ngày đặt hàng: {{ bill.billDate | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
                  </tr>
                  <tr *ngIf="bill.code_pay" class="status-payment">
                    <td>Mã giao dịch: {{bill.code_pay}}</td>
                  </tr>
                  <tr class="status-payment">
                    <td>Mã đơn hàng: {{bill.id}}</td>
                  </tr>
                </table>
              </div>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </mat-card>
    </div>
  </div>
</div>
<app-footer></app-footer>