.container {
  position: relative;
  width: 250px;
}

.logo img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.menu-list {
  margin-top: 20px;
}

mat-list-item {
  display: flex;
  align-items: center;
}

mat-icon {
  margin-right: 10px;
  margin-bottom: -5px;
}

mat-list-item {
  cursor: pointer;
}

mat-list-item.active {
  background-color: #97978D;
  border-radius: 4px;
}