<div class="container">
    <div class="logo">
        <img src="assets/logo.png" alt="logo">
    </div>
    <hr>
    <div class="menu-list">
        <mat-nav-list>
            <mat-list-item routerLink="/books" routerLinkActive="active">
                <mat-icon>book</mat-icon>
                <span>Sách</span>
            </mat-list-item>

            <mat-list-item routerLink="/user-admin" routerLinkActive="active">
                <mat-icon>person</mat-icon>
                <span>Người dùng</span>
            </mat-list-item>

            <mat-list-item routerLink="/order-admin" routerLinkActive="active">
                <mat-icon>receipt</mat-icon>
                <span>Đơn hàng</span>
            </mat-list-item>

            <mat-list-item routerLink="/voucher-admin" routerLinkActive="active">
                <mat-icon>card_giftcard</mat-icon>
                <span>Mã giảm giá</span>
            </mat-list-item>

            <mat-list-item routerLink="/comment-admin" routerLinkActive="active">
                <mat-icon>comment</mat-icon>
                <span>Bình luận</span>
            </mat-list-item>

            <mat-list-item routerLink="/staff-admin" routerLinkActive="active">
                <mat-icon>people</mat-icon>
                <span>Nhân viên</span>
            </mat-list-item>

            <mat-list-item routerLink="/revenue-admin" routerLinkActive="active">
                <mat-icon>bar_chart</mat-icon>
                <span>Thống kê doanh thu</span>
            </mat-list-item>
            <mat-list-item (click)="openConfirmDialog()">
                <mat-icon>logout</mat-icon>
                <span>Đăng xuất</span>
            </mat-list-item>
            <!-- form xác nhận -->
            <ng-template #confirmDialog>
                <h1 mat-dialog-title>Thông báo xác nhận</h1>
                <div mat-dialog-content>
                    <p>Bạn có chắc chắn muốn đăng xuất không?</p>
                </div>
                <div mat-dialog-actions>
                    <button mat-button (click)="onCancel()">Hủy</button>
                    <button mat-button (click)="logout()">Xác Nhận</button>
                </div>
            </ng-template>
        </mat-nav-list>
    </div>
</div>