@import "/node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "custom-theme.scss";
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src:
       url('/assets/fonts/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  font-feature-settings: 'liga'; /* Thêm thuộc tính tiêu chuẩn */
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
