<div class="order">
  <div class="form-left">
    <app-menu></app-menu>
  </div>
  <div class="form-right">
    <div class="title">
      QUẢN LÝ CỬA HÀNG
    </div>
    <div class="content">
      <div class="name-content">
        Đơn hàng chưa hoàn thành
      </div>
      <hr>
      <div class="search-add">
        <div class="search-container">
          <input type="text" placeholder="Tìm kiếm..." class="search-input">
          <button class="search-btn">
            <mat-icon class="search-icon">search</mat-icon>
          </button>
        </div>
        <div class="add-container">
          <button mat-raised-button class="add-btn" routerLink="/OrderNotComplete-admin">Lịch sử đơn hàng</button>
        </div>
      </div>
      <table class="info-table">
        <thead>
          <tr>
            <th>STT</th>
            <th>Mã đơn hàng</th>
            <th>Người đặt hàng</th>
            <th>Trạng thái thanh toán</th>
            <th>Ngày đặt hàng</th>
            <th>Giá tiền</th>
            <th>Trạng thái</th>
            <th>Mã giao dịch</th>
            <th>Xem chi tiết</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orderData let i = index">
            <td>{{i+1}}</td>
            <td>{{ order.id }}</td>
            <td>{{ order.nameCustomer}}</td>
            <td>
              <select [(ngModel)]="order.paymentStatus" (change)="handlepaymentstatusChange(order.id,$event)">
                <option value="Chưa Thanh Toán">COD</option>
                <option value="Paypal">Paypal</option>
                <option value="Vnpay">Vnpay</option>
              </select>
            </td>
            <td>{{ order.orderDate | date: 'yyyy-MM-dd' }}</td>
            <td>{{ (order.totalAmount) |number:'1.0-0'}} <sup>đ</sup></td>
            <td>
              <select [(ngModel)]="order.status" (change)="handlestatusChange($event,order.id)">
                <option value="Đã hủy">Hủy Đơn</option>
                <option value="Đang Giao">Đang giao</option>
                <option value="Đã Giao">Đã giao</option>
                <option value="Chờ Xác Nhận">Chờ Xác Nhận</option>
              </select>
              <app-modal-apcept (updateSuccess)="onUpdateSuccess()" [id]=" this.id" [status]="this.status"
                [statusPayment]="this.statusPayment" *ngIf="isModalApceptVisible"
                (closeModalEvent)="isModalApceptVisible = false"></app-modal-apcept>
            </td>
          <td>{{order.code_pay}}</td>
            <td>
              <!-- /OrderDetail-admin -->
              <button mat-icon-button (click)="sendId(order.id)"><mat-icon>remove_red_eye</mat-icon></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
